/* #gestMenuList{
    opacity:0;
    pointer-events:none;
}

#loginMenuList{
    opacity:0;
    pointer-events:none;
}

#gestContainer{
    opacity:0;
    pointer-events:none;
}
#loginContainer{
    opacity:0;
    pointer-events:none;
} */
.active{
    background-color: red;
}

#menuBg{
    opacity:0;
    pointer-events:none;
}

#close{
    opacity:0;
    pointer-events:none;
}

#close.active{
    opacity:1;
    pointer-events:auto;
    background-color: rgb(37 99 235);
}

#menuBg.active{
    opacity:1;
    pointer-events:auto;
    background-color: white
}

#loginContainer{
    opacity:0;
    pointer-events:none;
}
#loginContainer.active{
    opacity:1;
    pointer-events:auto;
    background-color: white
}

#gestContainer{
    opacity:0;
    pointer-events:none;
}
#gestContainer.active{
    opacity:1;
    pointer-events:auto;
    background-color: white
}

